<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Beispiel-Design von selfhtml.org">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<title>Web Taxi</title>
</head>
<body>

<img src="{{ url_for('static', filename='logo.png') }}" width="200" height="200">
{% if logged_in == true %} <p>Eingeloggt als: <b>{{ username }}</b></p> {% endif %}
<nav id="main-nav">
  <ul>
    <li>
      <a href="./" aria-current="page">
        <svg viewBox="0 0 120 32">
           <use xlink:href="#tab-shape"></use>
        </svg>
        <span>Startseite</span>
      </a>
    </li>
    <li>
      <a href="./schichtplan">
        <svg viewBox="0 0 120 32">
          <use xlink:href="#tab-shape"></use>
        </svg>
        <span>Schichtplan</span>
      </a>
    </li>
    <li>
      <a href="./login">
        <svg viewBox="0 0 120 32">
          <use xlink:href="#tab-shape"></use>
        </svg>
        {% if logged_in == true %}
          <span>Logout</span>
        {% else %}
          <span>Login</span>
        {% endif %}
      </a>
    </li>
    <li>
      <a href="./project_links">
        <svg viewBox="0 0 120 32">
          <use xlink:href="#tab-shape"></use>
        </svg>
        <span>Projekt Links</span>
      </a>
    </li>
  </ul>
</nav>

<main id="main">
{% block content %}{% endblock %}
</main>

<footer>
    <p>
   		technische Umsetzung: <a href="https://gitlab.com/drodenkirchen-linetco">David Rodenkirchen</a><br>
        Idee: <a href="https://sgoebel.de/bluespice/index.php?title=WebTaxi_Lastenheft">Stefan Goebel</a><br>
    </p>
</footer>


</body>
</html>