<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Beispiel-Design von selfhtml.org">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<title>Web Taxi</title>
</head>
<body>

</body>
</html>