{% extends "base.html" %}

{% block content %}
	<h1>Willkommen bei WebTaxi</h1>
	<section>
      	<h2>Informationen für Kunden</h2>
		<p>Diese Seite dient zur Verwaltung unseres Taxi Dienstes. Möchten Sie gerne unsere Dienstleistungen in Anspruch
        nehmen, rufen sie uns einfach an!</p>

    </section>
{% endblock %}