{% extends "base.html" %}

{% block content %}
	<h1>Login</h1>
	<section>
		{% if err_flag == true %}
			<p style="color:red;">Benutzername oder Passwort falsch</p>
			<form action="./login" method="post">
			  <label for="username">Benutzername:</label><br>
			  <input type="text" id="username" name="username"><br>
			  <label for="password">Passwort:</label><br>
			  <input type="password" id="password" name="password">
			  <input type="submit" value="Einloggen">
			</form>
		{% elif err_flag == false %}
			<p style="color:green;">Erfolgreich eingeloggt</p>
		{% else %}
			<form action="./login" method="post">
			  <label for="username">Benutzername:</label><br>
			  <input type="text" id="username" name="username"><br>
			  <label for="password">Passwort:</label><br>
			  <input type="password" id="password" name="password">
			  <input type="submit" value="Einloggen">
			</form>
		{% endif %}
    </section>
{% endblock %}