{% extends "base.html" %}

{% block content %}
	<h1>Schichtplan{% if daynight != "None" %} - {{ daynight }}{% endif %}</h1>
	<section>
		{% if logged_in == true %}
		<p>Jeder Zeitslot dauert <b>15</b> Minuten und fängt an der angegebenen Zeit an !</p>
		<form action="/schichtplan">
		  Schichtplan anzeigen : <select name="daynight" id="daynight"><option value="Tagschicht">Tag Schicht</option><option value="Nachtschicht">Nacht Schicht</option></select> <select name="day" id="day"> {% for day in range(1, 32) %} <option value="{{ day }}">{{ day }}</option> {% endfor %}</select> <select name="month" id="month"> {% for month in range(1,13) %} <option value="{{ month }}">{{ month }}</option> {% endfor %}</select> <select name="year" id="year"> {% for year in range(2019,2022) %} <option value="{{ year }}">{{ year }}</option> {% endfor %}</select>
			<input type="submit" value="anzeigen">
		</form>
		<table style="background-color: #dddddd; padding: 8px; width:100%">
			<tr>
				<th></th>
				{% for taxi in schichtplan_data %}
				<th>{{ taxi }}</th>
				{% endfor %}
			</tr>

			{% for timeslot in schichtplan_data["Taxi 1"]["timeslots"] %}
			{% if daynight == "Tagschicht" %}
			{% if timeslot | int >= 600 and timeslot | int < 1800 %}
			<tr>
				<td>{{ timeslot[:2] }}:{{ timeslot[2:] }}&nbsp&nbsp&nbsp&nbsp</td>
				{% for taxi in schichtplan_data %}
				{% if schichtplan_data[taxi]["timeslots"][timeslot] == "frei" %}
					<td style="background-color:#00FF00">
				{% else %}
					<td style="background-color:#FF0000">
				{% endif %}
				<a target="popup" onclick="window.open('./change_shift?timeslot={{ timeslot }}&taxi={{ taxi }}','popup','width=720,height=1280')">{{ schichtplan_data[taxi]["timeslots"][timeslot] }}</a></td>
				{% endfor %}
			</tr>
			{% endif %}
			{% endif %}
			{% if daynight == "Nachtschicht" %}
			{% if timeslot | int < 600 or timeslot | int >= 1800 %}
			<tr>
				<td>{{ timeslot[:2] }}:{{ timeslot[2:] }}&nbsp&nbsp&nbsp&nbsp</td>
				{% for taxi in schichtplan_data %}
				{% if schichtplan_data[taxi]["timeslots"][timeslot] == "frei" %}
					<td style="background-color:#00FF00">
				{% else %}
					<td style="background-color:#FF0000">
				{% endif %}
				<a target="popup" onclick="window.open('./change_shift?timeslot={{ timeslot }}&taxi={{ taxi }}','popup','width=720,height=1280')">{{ schichtplan_data[taxi]["timeslots"][timeslot] }}</a></td>
				{% endfor %}
			</tr>
			{% endif %}
			{% endif %}
			{% endfor %}
		</table>
		{% else %}
		<h2>Sie sind nicht eingeloggt</h2>
		<p>Bitte loggen Sie sich zuerst ein.</p>
		{% endif %}
    </section>
{% endblock %}